<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SELT</title>
    <script>
           function myFunction() {
            const checkBox = document.getElementById("search");
            const text = document.getElementById("display");

            if (checkBox.checked == true) {
                text.style.display = "block";


            } else if (checkBox.checked == false) {
                text.style.display = "none";

            }
        }
    </script>

</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>

<div class="container" >
    <h3>Dodaj nowy telefon</h3>
</hr>
<form th:action="@{/savePhone}" th:object="${phone}" method="post"  class="form-control col-4 mb-4">

    <td>Producent: </td>
    <input id="mark" th:field="*{mark}" type="text" class="form-control col-4 mb-4">
    <td>Model: </td>
    <input id="model" th:field="*{model}" type="text" class="form-control col-4 mb-4">
    <td>Kolor: </td>
    <input id="color" th:field="*{color}" type="text" class="form-control col-4 mb-4">
    <td>Numer seryjny: </td>
    <input id="serialnumber" th:field="*{serialNumber}" type="text" class="form-control col-4 mb-4">
    <td>IMEI: </td>
    <input id="IMEI" th:field="*{IMEI}" type="text" class="form-control col-4 mb-4">
    <td>IMEI2: </td>
    <input id="IMEI2" th:field="*{IMEI2}" type="text" class="form-control col-4 mb-4">
    <td>MAC: </td>
    <input id="MAC" th:field="*{MAC}" type="text" class="form-control col-4 mb-4">
    <td>Czy uszkodzony?</td>
    </br>
    <input id="enabled" th:field="*{demage}" type="checkbox" >
    </br>
    </br>

    <td>Numer telefonu</td>

    <select name="phoneNumber" id="phoneNumber" th:field="*{phoneNumber}" class="form-control col-4 mb-4">
        <!--<select name="replacement person" id="replacement" th:field="*{replacement}" placeholder="replacement">-->
        <option value="">Wybierz: </option>
        <option th:each="Key : ${phoneNumberList}"
                th:value="${Key.id}"
                th:text="${Key.number}"></option>
    </select>
    </td>
    <td>Użytkownik</td>

    <select name="employee" id="employee" th:field="*{employee}" class="form-control col-4 mb-4">
        <!--<select name="replacement person" id="replacement" th:field="*{replacement}" placeholder="replacement">-->
        <option value="">Wybierz: </option>
        <option th:each="Key : ${employeesList}"
                th:value="${Key.id}"
                th:text="${Key.lastname+' '+Key.firstname}"></option>
    </select>
    </td>

    <td>Notatka: </td>
    <input id="Note" th:field="*{note}" type="text" class="form-control col-4 mb-4">


    <!--<button onclick="myFunction()">Click Me</button>

    <div id="myDIV" style="display:none">
        <td>Notatka do protokołu: </td>
        <input id="NoteToProtocol" th:field="*{noteToProtocol}" type="text" class="form-control col-4 mb-4" th:value="${7}>
    </div>

    <input id="NoteToProtocol" th:field="*{noteToProtocol}" type="text" class="form-control col-4 mb-4" th:value="${Telefon wraz z ładowarką oraz oryginalnym opakowaniem.}">
    -->
    <input type="button" value="Powrót" name="backButton"
           onClick="javascript:window.location.href='/index'" class="myButton shortButton">
    <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">
    <input type="hidden" th:field="*{id}" />
</form>
</div>
</body>
</html>
