<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>SELT</title>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>

<div class="container">
  <h3>Dodaj nowy toner</h3>
  </hr>
  <form th:action="@{/saveToner}" th:object="${toner}" method="post">
    <input type="text" th:field="*{tonerName}" class="form-control col-4 mb-4" placeholder="Nazwa">

    <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">
    <input type="hidden" th:field="*{id}"/>
  </form>
  <hr/>
  <a th:href="@{/list-toners}">Back to list</a>
</div>


</body>
</html>
