<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SELT</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>
<div class="container">

    <h3>Dodaj nowy komputer</h3>
    <hr/>
    <div class="font-weight-bold">
        <p th:text="${exception}" class="text-danger"></p>
    </div>
    <form th:action="@{/saveComputer}" th:object="${computer}" method="post">


        <select  th:field="*{employee}" class="form-control col-4 mb-4" >
            <option value="">Wybierz pracownika</option>
            <option th:each="Key : ${employeesList}"
                    th:value="${Key.id}"
                    th:text="${Key.lastname+' '+Key.firstname}"></option>
        </select>

        <input th:field="*{manufacturer}" type="text" class="form-control col-4 mb-4" placeholder="Producent">
        <input th:field="*{model}" type="text" class="form-control col-4 mb-4" placeholder="Model">
        <input th:field="*{IPAdress}" type="text" class="form-control col-4 mb-4" placeholder="Adres IP">
        <input th:field="*{MACAdress}" type="text" class="form-control col-4 mb-4" placeholder="MAC adres">
        <input th:field="*{serialNumber}" type="text" class="form-control col-4 mb-4" placeholder="Numer seryjny">
        <input th:field="*{inventoryNumber}" type="text" class="form-control col-4 mb-4"
               placeholder="Numer inwentarzowy">
                <input type="hidden" th:field="*{id}" />
    </form>


    <hr/>
    <a th:href="@{/list-computers}">Back to list</a>
</div>
</body>
</html>
