<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SELT</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>
<div class="container">
    <form th:action="@{/saveLaptop}" th:object="${laptop}" method="post" class="form-control col-4 mb-4">
        <p class="error" th:text="${commonErrro}"></p>

        <td>Producent:</td>
        <input id="laptopManufacturer" type="text" th:field="*{manufacturer}" class="form-control col-4 mb-4">
        <td>Model:</td>
        <input id="laptopModel" type="text" th:field="*{model}" class="form-control col-4 mb-4">
        <td>Numer seryjny:</td>
        <input id="laptopSerial" type="text" th:field="*{serialNumber}" class="form-control col-4 mb-4" >
        <td>Numer inwentarzowy:</td>
        <input id="inventoryNumber" type="text" th:field="*{inventoryNumber}" class="form-control col-4 mb-4" >
        <td>MAC adres:</td>
        <input id="macAdress" type="text" th:field="*{MACAdress}" class="form-control col-4 mb-4">
        <td>IP adres:</td>
        <input id="IPAdress" type="text" th:field="*{IPAdress}" class="form-control col-4 mb-4">
        <td>MAC adres Wifi:</td>
        <input id="macAdresswifi" type="text" th:field="*{MACAdressWifi}" class="form-control col-4 mb-4">
        <td>IP adres Wifi:</td>
        <input id="IPAdress Wifi" type="text" th:field="*{IPAdressWifi}" class="form-control col-4 mb-4">
        <td>Hostname:</td>
        <input id="hostname" type="text" th:field="*{hostname}" class="form-control col-4 mb-4">
        <td>OS:</td>
        <input id="OS" type="text" th:field="*{windowsKey}" class="form-control col-4 mb-4">
        <td>Czy uszkodzony?</td>
        </br>
        <input id="enabled" th:field="*{demage}" type="checkbox">
        </br>
        </br>

        <td>Klucz Office</td>

        <select name="officeKey" id="officeKey" th:field="*{officeKey}" class="form-control col-4 mb-4">
            <!--<select name="replacement person" id="replacement" th:field="*{replacement}" placeholder="replacement">-->
            <option value="">Wybierz:</option>
            <option th:each="Key : ${officeKeys}"
                    th:value="${Key.id}"
                    th:text="${Key.officeKey+ '  '+ Key.officeVersion}"></option>
        </select>
        </td>

        <td>Użytkownik</td>

        <select name="employee" id="employee" th:field="*{employee}" class="form-control col-4 mb-4">
            <!--<select name="replacement person" id="replacement" th:field="*{replacement}" placeholder="replacement">-->
            <option value="">Wybierz:</option>
            <option th:each="Key : ${employeesList}"
                    th:value="${Key.id}"
                    th:text="${Key.firstname+ '  '+ Key.lastname}"></option>
        </select>
        </td>

        <input type="hidden" th:field="*{id}"/>
        <br>
        <input type="button" value="Powrót" name="backButton"
               onClick="javascript:window.location.href='/index'" class="myButton shortButton">
        <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">
    </form>
</div>
</body>
</html>
