<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>


<form th:action="@{/saveConfig}" th:object="${config}" method="post">
    <input type="text" th:field="*{email}" class="form-control col-4 mb-4" placeholder="E-mail">
    <input type="text" th:field="*{tonerPercent}" class="form-control col-4 mb-4" placeholder="Poziom % raportowania tonerów">
    <input type="text" th:field="*{time}" class="form-control col-4 mb-4" placeholder="Czas odczyty SNMP">
    <input type="text" th:field="*{serviceCallcounter}" class="form-control col-4 mb-4" placeholder="Licznik przeglądów">

    <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">
    <input type="hidden" th:field="*{id}"/>
</form>
</body>
</html>