<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>SELT</title>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>

<form th:action="@{/deleteToner}" th:object="${toner}" method="post">

  <td>Toner</td>

  <select  id="toner" th:field="*{id}">
        <option value="">Wybierz: </option>
    <option th:each="Key : ${tonerList}"
            th:value="${Key.id}"
            th:text="${Key.tonerName }"></option>
  </select>
  </td>

  <input type="button" value="Powrót" name="backButton"
         onClick="javascript:window.location.href='/index'" class="myButton shortButton">
  <input type="submit" value="Usuń" name="saveButton" class="mySubmitButton">
</form>

</body>
</html>
