<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SELT</title>
    <!-- Required meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href=
        "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>


<body>
<nav class="navbar navbar-expand-lg bg-success navbar-light fixed-top">

    <div class="container-fluid">

        <a class="navbar-brand" href="#" onClick="javascript:window.location.href='/index'"><i
                class="bi bi-house-fill"></i> Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" sec:authorize="hasAuthority('ADMIN')">

                    <!-- <a th:href="@{/addLaptop}">Dodaj laptopa</a><br>
                     <a th:href="@{/addWindowsLicense}">Dodaj licencje Windows</a><br>
                     <a th:href="@{/addOfficeLicense}">Dodaj licencje Office</a><br>
                     <a th:href="@{/showLaptops}">Wyświetl laptopy</a><br>
                     <a th:href="@{/addEmployee}">Dodaj pracownika</a><br>
                     <a th:href="@{/addComputer}">Dodaj komputer</a><br>
                     <a th:href="@{/showUserHardware}">Pokaz sprzęty pracownika</a><br>
                     <a th:href="@{/addPhone}">Dodaj telefon</a><br>
                     <a th:href="@{/addPhoneNumber}">Dodaj SIM</a><br>-->
                    <a class="nav-link" th:href="@{/list-departments}">Dział</a>
                    <a class="nav-link" th:href="@{/list-locations}">Lokalizacje</a>
                    <a class="nav-link" th:href="@{/list-toners}">Tonery i tusze</a>
                    <a class="nav-link" th:href="@{/list-printers}">Drukarki</a>
                    <a class="nav-link" th:href="@{/Magazine}">Magazyn</a>
                    <a class="nav-link" th:href="@{/config-form}">Ustawienia</a>
                </div>

            <div class="navbar-nav" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/list-users}">Zarządzanie użytkownikiem</a>
                    <a class="nav-link" th:href="@{/Raport}">Raport</a>
                    <a class="nav-link" th:href="@{/help}">Pomoc</a>
                </div>

            
        </div>

        <ul class="navbar-nav d-flex flex-row me-1">

            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white" th:href="@{/config-form}"><i class="bi bi-gear-fill"></i> Settings</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="bi bi-person-circle" th:text="${' '+ username}"></i>

                </a>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">My account</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
<br>
<br><br>

<h1>Menu</h1>
<div sec:authorize="hasAuthority('ADMIN')">
    <!-- <a th:href="@{/addLaptop}">Dodaj laptopa</a><br>
     <a th:href="@{/addWindowsLicense}">Dodaj licencje Windows</a><br>
     <a th:href="@{/addOfficeLicense}">Dodaj licencje Office</a><br>
     <a th:href="@{/showLaptops}">Wyświetl laptopy</a><br>
     <a th:href="@{/addEmployee}">Dodaj pracownika</a><br>
     <a th:href="@{/addComputer}">Dodaj komputer</a><br>
     <a th:href="@{/showUserHardware}">Pokaz sprzęty pracownika</a><br>
     <a th:href="@{/addPhone}">Dodaj telefon</a><br>
     <a th:href="@{/addPhoneNumber}">Dodaj SIM</a><br>-->
    <a th:href="@{/list-departments}">Dział</a><br>
    <a th:href="@{/list-locations}">Lokalizacje</a><br>
    <a th:href="@{/list-toners}">Tonery i tusze</a><br>
    <a th:href="@{/list-printers}">Drukarki</a><br>
    <a th:href="@{/Magazine}">Magazyn</a><br>
    <a th:href="@{/config-form}">Ustawienia</a><br>
</div>

<div sec:authorize="isAuthenticated()">
    <a th:href="@{/list-users}">Zarządzanie użytkownikiem</a><br>
    <a th:href="@{/Raport}">Raport</a><br>
    <a th:href="@{/help}">Pomoc</a><br>
</div>
<a th:href="@{/sendMail}" class="btn btn-primary">Wyślij</a>
</body>
</html>
