<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SELT</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
  $( function() {
    $( "#datepicker" ).datepicker({
    showOnFocus: false,
                showTrigger: '#calImg',
                beforeShowDay: $.datepicker.noWeekends,
                pickerClass: 'noPrevNext',
                numberOfMonths: 1,
                dateFormat: 'yy-mm-dd',}
    );
  } );


    </script>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>
<br>
<br><br>
<div class="form-control col-4 mb-4">
    <b>Producent: </b>
    <p th:text="${phone.getMark()}"></p>
    <b>Model: </b>
    <p th:text="${phone.getModel()}"></p>
    <b>Numer seryjny: </b>
    <p th:text="${phone.getSerialNumber()}"></p>
    <b>IMEI: </b>
    <p th:text="${phone.getIMEI()}"></p>
    <b>IMEI2: </b>
    <p th:text="${phone.getIMEI2()}"></p>
    <b>Adres MAC: </b>
    <p th:text="${phone.getMAC()}"></p>
    <b>Kolor: </b>
    <p th:text="${phone.getColor()}"></p>
    <b>Uszkodzony?: </b>
    <p th:text="${phone.getDemage()}"></p>
    <b>Notatka: </b>
    <p th:text="${phone.getNote()}"></p>
    <b>Użytkownik: </b>
    <p><a th:text="${phone.getEmployee()?.firstname}"></a> <a
            th:text="${phone.getEmployee()?.lastname}"></a></p>
    <b>Przypisany numer: </b>
    <p th:text="${phone.getPhoneNumber()?.number}"></p>
</div>
<div th:if="${phone.getPhoneNumber()!=null and phone.getEmployee!=null}">
    <form th:action="@{/actionPhone/{id}(id=${phone.getId()})}" th:object="${temp}" method="post">
        <div>
            <input type="text" id="datepicker" th:field="*{date}" class="myTextButton" placeholder="Data"/>
            <input type="text" th:field="*{notice}" th:value="${temp.getNotice()}" class="myTextButton"
                   placeholder="notice">
            <!--  <input type="hidden" id="mobilePhoneID" th:field="*{id_1}" th:value="${phone.getId()}"/>
            <a th:href="@{/getPhone/{id}(id=${phone.getId()})}" class="btn btn-info">Zdanie</a>
             <a th:href="@{/releasePhone/{id}(id=${phone.getId()})}" class="btn btn-info">Wydanie</a>-->
            <input type="submit" value="Wykonaj" name="saveButton" class="mySubmitButton">
        </div>
    </form>
</div>
<div th:if="${phone.getPhoneNumber()==null || phone.getEmployee==null}">
    <a th:href="@{/showUpdatePhoneForm(phoneId=${phone.getId()})}" class="btn btn-info">Update</a>

</div>

<table class="table table-bordered table-striped">
    <thead>
    <tr style="text-align: center; ">

        <th>Data</th>
        <th>Użytkownik</th>
        <th>Nr telefonu</th>
        <th>Nr SIM</th>
        <th>Typ</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="key : ${historyList}" style="text-align: center; ">

        <td th:text="${key.date}"></td>
        <td th:text="${key.employee}"></td>
        <td th:text="${key.phoneNumber}"></td>
        <td th:text="${key.simNumber}"></td>
        <td th:text="${key.type}"></td>
        <td>
            <a th:href="@{/openPDF/{id}(id=${key.id})}" class="btn btn-info">Otwórz</a>
        </td>

    </tr>
    </tbody>
</table>


</body>
</html>
