<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>
<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>

<div>
    <p><a th:text="${employee.getFirstname()}"></a> <a
            th:text="${employee.getLastname()}"></a></p>
    <p th:text="${employee.getWorkplace()}"></p>
</div>
<table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr style="text-align: center; ">
        <th>Producent</th>
        <th>Model</th>
        <th>IMEI</th>
        <th>IMEI2</th>
        <th>Numer seryjny</th>
        <th>Numer tel.</th>
        <th>Numer SIM</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="phone : ${mobilePhone}" style="text-align: center; ">
        <td th:text="${phone.mark}"></td>
        <td th:text="${phone.model}"></td>
        <td th:text="${phone.IMEI}"></td>
        <td th:text="${phone.IMEI2}"></td>
        <td th:text="${phone.serialNumber}"></td>
        <td th:text="${phone.getPhoneNumber()?.number}"></td>
        <td th:text="${phone.getPhoneNumber()?.SIMNumber}"></td>
        <td>
            <a th:href="@{/showPhoneInfoForm(id=${phone.id})}" class="btn btn-info">Info</a>
        </td>


        </td>
    </tr>
    </tbody>
</table>

--------------------------------------------------------------------

<table border="1" class="table table-striped table-responsive-md">
    <tbody>
    <thead>
    <tr style="text-align: center; ">
        <th>Producent</th>
        <th>Model</th>
        <th>Numer seryjny</th>
        <th>Numer inw.</th>
        <th>Hostname</th>


    </tr>
    </thead>
    <tr th:each="laptop : ${laptop}" style="text-align: center; ">

        <td th:text="${laptop.manufacturer}"></td>
        <td th:text="${laptop.model}"></td>
        <td th:text="${laptop.serialNumber}"></td>
        <td th:text="${laptop.inventoryNumber}"></td>
        <td th:text="${laptop.hostname}"></td>

        <td>
            <a th:href="@{/showLaptopInfoForm(id=${laptop.id})}" class="btn btn-info">Info</a>
        </td>
        </td>
    </tr>
    </tbody>
</table>


<table border="1" class="table table-striped table-responsive-md">
    <tbody>
    <tr th:each="pc : ${computer}">

        <td th:text="${pc.officeKey}"></td>
        <td th:text="${pc.windowsKey}"></td>
        <td th:text="${pc.hostname}"></td>
        <td th:text="${pc.model}"></td>
        <td th:text="${pc.manufacturer}"></td>
        <td>
            <a th:href="@{/showComputerInfoForm(id=${pc.id})}" class="btn btn-info">Info</a>
        </td>

        </td>
    </tr>
    </tbody>
</table>


</body>
</html>
