<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:javascript="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SELT</title>

    <!-- Required meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href=
        "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>


<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#ff0000;">

    <div class="container-fluid">

        <a class="navbar-brand" href="#" onClick="javascript:window.location.href='/index'">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:href="${'http://'+printerIP}" >Zarządzaj</a>
                <a class="nav-link" th:href="@{/list-counters(printerId=${printerId})}" >Liczniki</a>
                <a class="nav-link" th:href="@{/list-printers}">Back to list</a>
            </div>
        </div>

        <ul class="navbar-nav d-flex flex-row me-1">

            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white" th:href="@{/config-form}"><i class="bi bi-gear-fill"></i> Settings</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Profile
                </a>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">My account</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>


</nav>

<a class="navbar-brand" th:text="${'Zalogowany użytkownik: ' +username}"></a>
<hr/>


<table class="table">
    <tbody>
    <tr th:each="key : ${counter}" style="text-align: center; ">

        <td th:text="${key}"></td>

    </tr>
    <tr th:text="${printer}"></tr>
    <p>
        <tr th:text="${serviceCounter}"></tr>
    </p>
    <tr>
        <div th:if="${printerIP =='-'}">
            <p></p>
        </div>
        <div th:unless="${printerIP=='-'}">
            <p th:text="${printerIP}" class="navbar-brand"></p>
            </hr>

        </div>
    </tr>
    </tbody>
</table>
<a th:href="@{/resetCounter(printerId=${printerId})}" class="btn btn-primary">Zeruj licznik</a>
<p>Wydaj toner.</p>
<form th:action="@{/removeMagazine2}" th:object="${temp}" method="post">

    <select id="tonerlist" th:field="*{id_1}" class="form-control col-4 mb-4">

        <option value="">Wybierz toner</option>
        <option th:each="Key : ${tonerList}"
                th:value="${Key.id}"
                th:text="${Key.tonerName}"></option>
    </select>

    <div th:with="idPrinter=${printerId}">

        <input type="hidden" th:value="${idPrinter}" th:name="id_2" th:id="id_2"/>
    </div>
    <input id="subtoner" th:field="*{radio}" type="text">
    <input type="submit" value="Aktualizuj" name="saveButton" class="mySubmitButton">
</form>
<div class="font-weight-bold">
    <p th:text="${allert}" class="text-danger"></p>
</div>


</body>
</html>
