<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>

<form th:action="@{/list-locations}" th:object="${temp}" method="post">
    <p class="error" th:text="${commonError}"></p>
    <div class="container">

        <h3>Lista lokalizacji</h3>

        <hr/>
        <a th:href="@{/addLocationForm}" class="btn btn-primary">Dodaj lokalizacje</a>
        <input id="search" th:field="*{tempString}" type="text" class="btn btn-outline-dark">
        <input type="submit" value="Szukaj" name="searchButton" class="btn btn-primary">
        <a class="navbar-brand" th:text="${allert}"></a>
        <br/><br/>
        <table class="table table-bordered table striped">
            <thead>
            <tr style="text-align: center; ">
                <th>Nazwa</th>
                <th>Ulica</th>
                <th>Numer</th>
                <th>Miasto</th>
                <th>Kod pocztowy</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="key : ${locationList}" style="text-align: center; ">

                <td th:text="${key.nameOfLocation}"></td>
                <td th:text="${key.street}"></td>
                <td th:text="${key.number}"></td>
                <td th:text="${key.city}"></td>
                <td th:text="${key.postalCode}"></td>
                <td><a th:href="@{/deleteLocation/{id}(id=${key.id})}" class="btn btn-danger">USUŃ</a>

                    <a th:href="@{/showUpdateLocationForm(locationId=${key.id})}" class="btn btn-info">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
</body>
</html>
