<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>
<h3>Lista kart SIM</h3>
<hr/>
<a th:href="@{/addPhoneNumberForm}" class="btn btn-primary">Dodaj SIM</a>
<!--<input id="search" th:field="*{tempString}" type="text" class="btn btn-outline-dark">-->
<input type="submit" value="Szukaj" name="searchButton" class="btn btn-primary">
<a class="navbar-brand" th:text="${allert}"></a>
<br/><br/>
<table class="table table-bordered table-striped">
    <thead>
    <tr style="text-align: center; ">
        <th>Numer</th>
        <th>Numer SIM</th>
        <th>PIN</th>
        <th>PUK</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="key : ${numberList}" style="text-align: center;">

        <td th:text="${key.number}"></td>
        <td th:text="${key.SIMNumber}"></td>
        <td th:text="${key.PIN}"></td>
        <td th:text="${key.PUK}"></td>

      <!--  <td><a th:href="@{/deletePhone/{id}(id=${key.id})}" class="btn btn-danger">USUŃ</a></td>
        <td>
            <a th:href="@{/showUpdatePhoneForm(phoneId=${key.id})}" class="btn btn-info">Update</a>
        </td>
-->
    </tr>
    </tbody>
</table>
</body>
</html>