<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SELT</title>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        function myFunction() {
            const checkBox = document.getElementById("search");
            const text = document.getElementById("display");

            if (checkBox.checked == true) {
                text.style.display = "block";


            } else if (checkBox.checked == false) {
                text.style.display = "none";

            }
        }

        function myFunction2() {
            const searchDate = document.getElementById("searchDate");
            const text = document.getElementById("displayDate");
            const text2 = document.getElementById("displayOtherSearch");
            if (searchDate.checked == true) {
                text.style.display = "block";
                text2.style.display = "none";

            } else if (searchDate.checked == false) {
                text.style.display = "none";
                text2.style.display = "block";

            }
        }

        $(function () {
            $('#from').datepicker({
                showOnFocus: false,
                showTrigger: '#calImg',
                //beforeShowDay: $.datepicker.noWeekends,
                pickerClass: 'noPrevNext',
                numberOfMonths: 1,
                dateFormat: 'yy-mm-dd',
                //altFormat: "DD, d MM, yy",

                onSelect: function (dateStr) {
                    var min = $(this).datepicker('getDate');
                    $('#to').datepicker('option');
                    datepicked();
                }
            });
            $('#to').datepicker({
                showOnFocus: false,
                showTrigger: '#calImg',
                //beforeShowDay: $.datepicker,
                pickerClass: 'noPrevNext',
                numberOfMonths: 1,
                dateFormat: 'yy-mm-dd',
                //altFormat: "DD, d MM, yy",

                onSelect: function (dateStr) {
                    var max = $(this).datepicker('getDate');
                    $('#from').datepicker('option');
                    datepicked();
                }
            });
        });


    </script>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>
<a class="navbar-brand" th:text="${'Zalogowany użytkownik: ' +username}"></a>
<form th:action="@{/sortCounter}" th:object="${temp}" method="post">
    <div th:with="idPrinter=${printerId}">

        <input type="hidden" th:value="${idPrinter}" th:name="id_2" th:id="id_2"/>
    </div>
    <ul>
        <li>
            <input id="features" name="features" type="radio" th:field="*{radio}" th:value="${0}"
                   onclick="myFunction()"/>

            <label for="features">Pokaz poprzedni miesiąc</label>
        </li>
        <li>
            <input id="features1" name="features" type="radio" th:field="*{radio}" th:value="${1}"
                   onclick="myFunction()"/>

            <label for="features1">Pokaz aktualny miesiąc</label>
        </li>
        <li>
            <input id="features2" name="features" type="radio" th:field="*{radio}" th:value="${2}"
                   onclick="myFunction()"/>

            <label for="features2">Pokaż wszystko</label>
        </li>
        <li>
            <input id="weekly" name="features" type="radio" th:field="*{radio}" th:value="${4}"
                   onclick="myFunction()"/>

            <label for="weekly">Tygodniowe wydruki</label>
        </li>
        <li>
            <input id="searchDate" name="features" type="radio" th:field="*{radio}" th:value="${3}"
                   onclick="myFunction2() "/>
            <label for="searchDate">Wyszukaj</label>

        </li>
    </ul>

    </div>

    <div id="displayDate" style="display:none">
        <label for="from">Dzień rozpoczęcia:</label>
        <input type="text" id="from" class="myTextButton" th:field="*{start}" placeholder="startDate"/>

        <label for="to">Dzień zakończenia:</label>
        <input type="text" id="to" class="myTextButton" th:field="*{end}" placeholder="endDate"/>

    </div>



    <input type="submit" value="Wyświetl" name="saveButton" class="mySubmitButton">
</form>
<div class="font-weight-bold">
    <p th:text="${allert}" class="text-danger"></p>
</div>
<div th:if="${not #lists.isEmpty(counterList)}">
    <p></p>
</div>
<div th:unless="${#lists.isEmpty(counterList)}">

    <table class="table table-bordered table-striped">
        <thead>
        <tr style="text-align: center; ">

            <th>Licznik</th>
            <th>Data</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="key : ${counterList}" style="text-align: center; ">

            <td th:text="${key.counter}"></td>
            <td th:text="${key.date}"></td>

        </tr>
        </tbody>
    </table>
</div>
<!--
<form th:action="@{/subCounter}" th:object="${temp}" method="post">
    <div th:with="idPrinter=${printerId}">
        <input type="hidden" th:value="${idPrinter}" th:name="id_2" th:id="id_2"/>
    </div>
    <div id="displayDate2">
        <label for="from">Dzień rozpoczęcia:</label>
        <input type="text" id="from" class="myTextButton" th:field="*{start}" placeholder="startDate"/>

        <label for="from">Dzień zakończenia:</label>
        <input type="text" id="to" class="myTextButton" th:field="*{end}" placeholder="endDate"/>
        <input type="submit" value="Wyświetl" name="saveButton" class="mySubmitButton">
    </div>
</form>-->
</body>
</html>
