<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>


<form th:action="@{/list-printers}" th:object="${temp}" method="post">

    <div class="cointainer">


        <h3>Lista drukarek</h3>

        <hr/>
        <a th:href="@{/addPrinterForm}" class="btn btn-primary">Dodaj drukarke</a>
        <input id="search" th:field="*{tempString}" type="text" class="btn btn-outline-dark">
        <input type="submit" value="Szukaj" name="searchButton" class="btn btn-primary">
        <a class="navbar-brand" th:text="${allert}"></a>
        <br/><br/>
        <table class="table table-bordered table-striped">
            <thead>
            <tr style="text-align: center; ">

                <th>Producent</th>
                <th>Model</th>
                <th>Adres IP</th>
                <th>Adres Mac</th>
                <th>Użytkownik</th>
                <th>Dział</th>
                <th>Toner</th>



            </tr>
            </thead>
            <tbody>
            <tr th:each="key : ${printerList}" style="text-align: center; ">

                <td th:text="${key.manufacturer}"></td>
                <td th:text="${key.model}"></td>
                <td th:text="${key.IPAdress}"></td>
                <td th:text="${key.MACAdress}"></td>
                <td th:text="${key.user}"></td>
                <td th:text="${key.getDepartment()?.nameOfDepartment}"></td>
                <td><a th:each="toner:${key.getTonerList()}">
                    <a th:text="${toner.tonerName}"></a></a>
                </td>
                <td><a th:href="@{/deletePrinter/{id}(id=${key.id})}" class="btn btn-danger">Usuń</a></td>
                <td>
                    <a th:href="@{/showUpdateForm(printerId=${key.id})}" class="btn btn-success">Update</a></td>
                <td>
                    <a th:href="@{/showInfoForm(id=${key.id})}" class="btn btn-info">Info</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>

</body>
</html>
