<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Laptopy</title>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>


<form th:action="@{/list-laptops}" th:object="${temp}" method="post">

    <div class="cointainer">


        <h3>Lista laptopów</h3>

        <hr/>
        <a th:href="@{/addLaptopForm}" class="btn btn-primary">Dodaj laptopa</a>
        <input id="search" th:field="*{tempString}" type="text" class="btn btn-outline-dark">
        <input type="submit" value="Szukaj" name="searchButton" class="btn btn-primary">
        <a class="navbar-brand" th:text="${allert}"></a>
        <br/><br/>
        <table class="table table-bordered table-striped">
            <thead>
            <tr style="text-align: center; ">
                <th>Lp.</th>
                <th>Użytkownik</th>
                <th>Nr inwentarzowy</th>
                <th>Producnet</th>
                <th>Model</th>
                <th>Nr seryjny</th>
                <th>Wersja OS</th>
                <th>Klucz OS</th>
                <th>Office</th>
                <th>Klucz office</th>
                <th>Konto office</th>
                <th>Adres MAC</th>
                <th>Adres IP</th>
                <th>Adres MAC Wifi</th>
                <th>Adres IP Wifi</th>
                <th>Hostname</th>


            </tr>
            </thead>
            <tbody th:each="key : ${laptopList}">


                <div th:if="${key.getHasUser()==true}">
            <tr  style="text-align: center; " th:style="${key.getDemage()} == TRUE ? 'background: orange': 'background: green'">
                </div>
                <div th:unless="${key.getHasUser()==true}">
                    <tr  style="text-align: center; "  th:style="${key.getDemage()} == TRUE ? 'background: orange': 'background: #3498db'">
                </div>

                <td th:text="${key.id}"></td>
                <td><a th:text="${key.getEmployee()?.firstname}"></a> <a th:text="${key.getEmployee()?.lastname}"></a>
                </td>
                <td th:text="${key.inventoryNumber}"></td>
                <td th:text="${key.manufacturer}"></td>
                <td th:text="${key.model}"></td>
                <td th:text="${key.serialNumber}"></td>
                <td th:text="${key.OSVersion}"></td>
                <td th:text="${key.windowsKey}"></td>
                <td th:text="${key.getOfficeKey()?.officeVersion}"></td>
                <td th:text="${key.getOfficeKey()?.officeKey}"></td>
                <td th:text="${key.getOfficeKey()?.officeAccount}"></td>
                <td th:text="${key.MACAdress}"></td>
                <td th:text="${key.IPAdress}"></td>
                <td th:text="${key.MACAdressWifi}"></td>
                <td th:text="${key.IPAdressWifi}"></td>
                <td th:text="${key.hostname}"></td>

                <td><a th:href="@{/deleteLaptop/{id}(id=${key.id})}" class="btn btn-danger">Usuń</a></td>
                <td>
                    <div th:if="${key.getEmployee!=null}">
                        <div th:if="${key.getHasUser()==true}">
                            <a th:href="@{/getLaptop/{id}(id=${key.id})}" class="btn btn-info">Zdanie</a>
                        </div>
                        <div th:unless="${key.getHasUser()==true}">
                            <a th:href="@{/releaseLaptop/{id}(id=${key.id})}" class="btn btn-info">Wydanie</a>
                            </hr>
                        </div>
                    </div>
                    <div th:if="${key.getEmployee==null}">
                        <a th:href="@{/showUpdateLaptopForm(laptopId=${key.id})}" class="btn btn-success">Update</a>

                    </div>
                </td>

                <td>
                    <a th:href="@{/showLaptopInfoForm(id=${key.id})}" class="btn btn-info">Info</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</form>

</body>
</html>
