<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>


<form th:action="@{/list-computers}" th:object="${temp}" method="post">

    <div class="cointainer">


        <h3>Lista komputerów</h3>

        <hr/>
        <a th:href="@{/addComputerForm}" class="btn btn-primary">Dodaj komputer</a>
        <input id="search" th:field="*{tempString}" type="text" class="btn btn-outline-dark">
        <input type="submit" value="Szukaj" name="searchButton" class="btn btn-primary">
        <a class="navbar-brand" th:text="${allert}"></a>
        <br/><br/>
        <table class="table table-bordered table-striped">
            <thead>
            <tr style="text-align: center; ">
                <th>Lp.</th>
                <th>Użytkownik</th>
                <th>Nr inwentarzowy</th>
                <th>Producnet</th>
                <th>Model</th>
                <th>Nr seryjny</th>
                <th>System</th>
                <th>Office</th>
                <th>Adres Mac</th>
                <th>Adres IP</th>
                <th>Hostname</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="key : ${computerList}" style="text-align: center; ">
                <td th:text="${key.id}"></td>
                <td><a th:text="${key.getEmployee()?.firstname}"></a> <a th:text="${key.getEmployee()?.lastname}"></a></td>
                <td th:text="${key.inventoryNumber}"></td>
                <td th:text="${key.manufacturer}"></td>
                <td th:text="${key.model}"></td>
                <td th:text="${key.serialNumber}"></td>
                <td th:text="${key.windowsKey}"></td>
                <td th:text="${key.officeKey}"></td>
                <td th:text="${key.MACAdress}"></td>
                <td th:text="${key.IPAdress}"></td>
                <td th:text="${key.hostname}"></td>
                <td><a th:href="@{/deleteComputer/{id}(id=${key.id})}" class="btn btn-danger">Usuń</a></td>
                <td>
                    <a th:href="@{/showUpdateForm(computerId=${key.id})}" class="btn btn-success">Update</a></td>
                <td>
                    <a th:href="@{/showInfoForm(id=${key.id})}" class="btn btn-info">Info</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>

</body>
</html>
