<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>SELT</title>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>

<div class="container">
  <h3>Lista tonerów</h3>
  </hr>
  <a th:href="@{/addTonerForm}" class="btn btn-primary">Dodaj toner</a>
  <table class="table table-bordered table striped">
    <thead>
    <tr style="text-align: center; ">
      <th>Nazwa</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="key : ${tonerList}" style="text-align: center; ">

      <td th:text="${key.tonerName}"></td>
      <td><a th:href="@{/deleteToner/{id}(id=${key.id})}" class="btn btn-danger">USUŃ</a></td>
      <td><a th:href="@{/showUpdateTonerForm(tonerId=${key.id})}" class="btn btn-info">Update</a>
      </td>
    </tr>
    </tbody>

  </table>
</div>



</body>
</html>
