<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>

<body>
<!--HEADER-->
<div th:replace="navbar :: navbar"></div>
<div sec:authorize="hasAuthority('ADMIN')">
    <div class="container">

        <h3>Zmień użytkownika</a></h3>
        <hr/>
        <form th:action="@{/saveUpdateUser}" th:object="${user}" method="post">
            <p class="error" th:text="${commonError}"></p>


            <input type="text" th:field="*{fullname}" class="form-control col-4 mb-4" placeholder="Imię i nazwisko">
            <input id="username" type="text" th:field="*{login}" class="form-control col-4 mb-4" placeholder="Login">
            <input id="password" type="password" th:field="*{password}" class="form-control col-4 mb-4" placeholder="Hasło">

            <label for="enabled">Aktywny</label>
            <input id="enabled" type="checkbox" th:field="*{enabled}">

            <select id="roles" th:field="*{roles}" class="form-control col-4 mb-4">
                <option value="">Rodzaj konta</option>
                <option th:each="Key : ${roleList}"
                        th:value="${Key.id}"
                        th:text="${Key.getRole()}"></option>
            </select>
            </td>

            <input type="submit" value="Zapisz" name="saveButton" class="btn btn-primary">
            <input type="hidden" th:field="*{id}"/>
            <br>
            <a class="navbar-brand" th:text="${info}"></a>
        </form>

        <hr/>
        <a th:href="@{/list-users}">Back to list</a>
    </div>
</div>
</body>
</html>
